In [1]:
print(1+2)

3

print (1+2)

In [2]:
print(3+4)

7

In [3]:
print(7+6)

13

# 큰 글씨

In [ ]:
<font color='red'></font> # 마크다운에서 폰트 변경

In [ ]:
<img src=> 어쩌고...

# lec.01. 변수(Variable)
* int, float, str, bool(True, False)
* "+ - * / ** // %"
* type()
* or and not

변수마다 타입 존재.
지구상에 있는 거의 대부분의 language는 변수 타입을 지정해줘야함.
일반 문법
int num=10
string name = '이혜린'
파이썬은 그렇지 않다. 그냥 바로 변수명=값 넣을 수 있다.

In [5]:
num = '이혜린'
print(num)

이혜린

num = 1 다시 하면 최신값으로 변경됨. 앞에서 str값 넣었어도 알 바 없다.
파이썬은 공식적으로는 타입은 없지만 연산할 때는 고려한다.

In [37]:
type(-3)

int

* 숫자+숫자==두 숫자 가산

In [6]:
num1=1
num2=2

print(num1+num2)

3

* 글자+글자 ==두 글자 합친다.

In [ ]:
num1='이혜린'
num2='최고'
print(num1+num2)

* 우리는 지금 인터프리터 사용 중: 변수에 굳이 안 넣어도 되고 print 안 해도 출력된다. 단, print 안 하면 여러 줄 입력 시 마지막 것만 나온다.

In [7]:
print(1.74+3.12)

4.86

In [10]:
1.73+3.124
'가나다+라마'

'가나다+라마'

In [11]:
print(1.3832+238.2)
print('가나다'+'라마')

239.58319999999998
가나다라마

In [14]:
2**3 # **는 제곱

8

%는 나머지, //는 몫을 의미한다.

In [17]:
13/5 , 13//5, 13%5

(2.6, 2, 3)

In [18]:
#은 주석

In [19]:
# 지수승이 가능하다. e하면 뭐 소수점 개수 맞추는 거라고???

## 파이썬 논리연산

* 논리: True, False

In [23]:
print(True) # 앞 글자 대문자여야 함.
# print(true) # 소문자 쓰면 에러
print(False) #파이썬은 대소문자 엄격하다.

True
False

In [24]:
type(True) # bool 타입

bool

In [25]:
# and or not
print(True and True)

True

In [26]:
print(False and False)

False

In [27]:
print(True or True)

True

In [28]:
print(False or False)

False

In [29]:
print(True or False) #둘 중 하나라도 트루면 트루.

True

In [30]:
print(True and False) #둘 다 True여야 True

False

In [31]:
print(not True)

False

In [32]:
print(5 == 3) # 같아요가 ==이다. 주의!
print(5 != 3) # 다르다
print(5 < 3)
print(5 > 3)
print(5 <= 3)
print(5 >= 3)

False
True
False
True
False
True

* ==(같다), =(대입)

In [35]:
num=3 # 3을 num이라는 변쉥 넣어라
print(num)

3

In [36]:
print(((3 > 0) or (-5 > 0)) and ((4 > 8) or ( 3 < 0)))
#       (True  or   False)      (False   or  False)
#             True          and          False
#                          False

False

In [ ]:
셀 벗어나도 변수 저장됨.

* 역슬래쉬 특수 표현

In [41]:
#굳이 "로 시작했는데 안에도 " 넣고 싶으면 " 앞에 \(역 슬래쉬) 넣기

# \기호: 글자기호
string4 = "This is a \"single\" quotation test"
print(string4)

This is a "single" quotation test

In [38]:
# \n: 줄바꿈
print("abc\nabc")

abc
abc

In [40]:
# \t: 탭
print("abc\tabc")

abc	abc

In [ ]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.''' 

long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.""" 

print(long_string1)
print(long_string2)

* 문자열

In [42]:
# + 합치다
print("ABC"+"DEF")

ABCDEF

In [47]:
# * 반복하라
print('ABC' * 3) #세 번 반복하라.

ABCABCABC

In [43]:
print("ABC"+1) #에러

TypeError: can only concatenate str (not "int") to str

In [46]:
a='hi'
print(a*3)

hihihi

### 리스트(List), 튜플Tuple), 딕셔너리(Dictionary), ..... 셋(Set)
#### 다 까먹어도 얘들은 까먹지 마라
얘네는 값을 여러개 담을 수 있다. 변수 하나에 한 값만을 담을 수 있다면 번거로울 것.

리스트: []  
튜플: ()  
딕셔너리: {}  
셋: {} -> 오라클의 distinct처럼 중복값을 제거한다.

비단 파이썬만의 문법은 아니고 다른 language에서도 똑같이 통용됨.

In [57]:
num1=1
num2=2
num3=3
num_list= [1,2,3,3,3]
num_tupl= (1,2,3,3,3)
num_set= {1,2,3,3,3} # 딕셔너리로 생각하면 정상적인 문법 아니라 에러 나야한다.

In [58]:
print(num_list, type(num_list)) #리스트 타입이다.

[1, 2, 3, 3, 3] <class 'list'>

In [59]:
print(num_tupl, type(num_tupl)) #튜플 타입이다.

(1, 2, 3, 3, 3) <class 'tuple'>

In [60]:
print(num_set, type(num_set)) #셋 타입이다.#distinct

{1, 2, 3} <class 'set'>

In [62]:
# dictionary 문법
# num_dict={키:값, 키:값, 키:값, ...}꼴로 나타낸다.
num_dict={'n1':1, 'n2':2, 'n3':3}
print(num_dict, type(num_dict))

# num_dict={'n1':1, 'n2':2, 'n2':3}하면 n2는 마지막에 입력한 3으로 인식.

{'n1': 1, 'n2': 2, 'n3': 3} <class 'dict'>

인덱스를 이용해 일부만 출력.  
<font color='red'>인덱스는 0번째부터 시작(대부분의 랭기지에 적용됨)</font>

In [69]:
num_list= [1,2,3,4,5]
#print(num_list) 하면 모든 값 다 나온다.
print(num_list[0]) # 변수이름[{숫자}]쓰면 해당 숫자번째(index) 값 출력
print(num_list[3]) #0번째부터 시작하니 3 쓰면 4가 나온다.

1
4
[1, 2]

**일부만 여러 개 뽑고 싶으면 슬라이싱 이용.**
슬라이싱. [s:e]. s: start, e: end. s번째 이상 e번째 **미만**
앞은 이상이고 뒤는 미만임에 유의
s 안 쓰면 처음부터(0번째부터)
-1: 맨 뒷 자리.

In [79]:
print(num_list[0:3]) # 0번째 이상, 3번째 미만이니까 이렇게 해야 1,2,3 나옴.
print(num_list[-2]) #뒤에서 두 번째 것만
print(num_list[-2:]) #뒤에서 두 개 뽑으려면? 0을 쓰는 건 안 된다.
print(num_list[:-1]) #마지막 거 빼고 다
print(num_list[:]) # 맨 처음부터 맨 끝까지긴 한데 이러면 굳이 슬라이싱 안 써도 된다.
#start부터 end는 늘 왼쪽에서 오른쪽으로 읽어야 함에 유의.
#-2번째부터 0번째, -1번째부터 -3번째 이런 건 안 된다.
#-와 +부호 섞어쓰는 자체는 상관 없다.
print(num_list[0:-1])

[1, 2, 3]
4
[4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [84]:
str_list = ['ab','c','d',88, True, 0.14] #파이썬 특징. 눈으로는 type 신경 안 쓴다.
print(str_list, type(str_list))

['ab', 'c', 'd', 88, True, 0.14] <class 'list'>

In [115]:
str_list = ['ab','c','d',88, True, 0.14, [1,2,3], {1,2,3}, (11,22,33), {'n1':50, 'n2':9, 'n3':3}]
print(str_list, type(str_list))
print(str_list[6]) #덩어리가 통째로 들어간다.
print(str_list[6][1]) #덩어리 안에서도 일부만 뺄 수 있다. 붙여서[]쓰면 됨.
# print(str_list[7][1]). #에러. 셋은 안 된다.
print(str_list[8][1])
print(str_list[9]['n1']) #딕셔너리는 다른 애들과 다르게 키값으로 빼야 한다.
print(str_list[9]["n1"])

['ab', 'c', 'd', 88, True, 0.14, [1, 2, 3], {1, 2, 3}, (11, 22, 33), {'n1': 50, 'n2': 9, 'n3': 3}] <class 'list'>
[1, 2, 3]
2
22
50
50

아래 quiz를 이용해 다음을 출력하시오.(강사님이 앞뒤로 """넣으랬는데 이러면 출력 안 됨.)
400

badRequest

youtube.googleapis.com

In [132]:
# 유튜브 에러메세지. ->여기에도 dict가 있다. key:value
quiz= {
  "error": {
    "code": 400,
    "message": "API key not valid. Please pass a valid API key.",
    "errors": [
      {
        "message": "API key not valid. Please pass a valid API key.",
        "domain": "global",
        "reason": "badRequest"
      }
    ],
    "status": "INVALID_ARGUMENT",
    "details": [
      {
        "@type": "type.googleapis.com/google.rpc.ErrorInfo",
        "reason": "API_KEY_INVALID",
        "domain": "googleapis.com",
        "metadata": {
          "service": "youtube.googleapis.com"
        }
      }
    ]
  }
}

print(quiz)

 {
  "error": {
    "code": 400,
    "message": "API key not valid. Please pass a valid API key.",
    "errors": [
      {
        "message": "API key not valid. Please pass a valid API key.",
        "domain": "global",
        "reason": "badRequest"
      }
    ],
    "status": "INVALID_ARGUMENT",
    "details": [
      {
        "@type": "type.googleapis.com/google.rpc.ErrorInfo",
        "reason": "API_KEY_INVALID",
        "domain": "googleapis.com",
        "metadata": {
          "service": "youtube.googleapis.com"
        }
      }
    ]
  }
}

In [134]:
print(quiz["error"]["code"])
print(quiz["error"]["errors"][0]["reason"])
print(quiz["error"]["details"][0]["metadata"]["service"])

400
badRequest
youtube.googleapis.com

99.9%는 이런 형태로 데이터를 준다. -> 원하는 걸 뽑아낼 수 있어야.
ex. kakao json api 검색.
rest API에서 예제 가져올 수 있다.

ex. twitter json api 검색
ex. 공공데이터포털 api

이 문법 모르면 외부 데이터 가져올 수 없다!!!