# lec 12. DataFrame

In [8]:
# pandas
import pandas as pd # 99.9999% pd로 alias 준다.
                    # ctrl+pandas클릭하면 __init__열린다.
                    # pickle도 가능하게 해준다.(피클처럼 데이터 함부로 못 건들게 진공포장 시켜준다.) / read stata도 있네 하하
                    # pandas.py (모듈)

# df=pd.DataFrame() # 생성자 만들어줘야됨. DataFrame은 클래스 부모의부모의부모의부모 정도가 넘피
                    # __init__.py가  들어가는 영역이 생긴다.
# 생성자 변수로 주로 들어가는 애들
# data=None,
# index: Axes | None = None,
# columns: Axes | None = None,
# dtype: Dtype | None = None,
# ....


df=pd.DataFrame( data=[ [1,'kim',111],[2,'lee',222]] ,
                 columns=['seq','id','pw']
                 # index= [11 22] 인덱스 어떻게 줄 건지 쓰는 것. 데이터 개수만큼 필요.(많으면 다 부여하기 어려워서 사실 그냥 안 쓴다.) 0번째부터 시작.
                 # dtype= 안 쓰면 기본타입 들어감.
                 )
print(df.info()) # 결과: table의 description 이 나온다.
                # / type의 object는 str타입. int는 혹시 몰라 제일 큰 64로 잡아준다. / 2 entries: 2 개의 row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     2 non-null      int64
 1   id      2 non-null      object
 2   pw      2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes
None

In [3]:
df.head() # 기본값: 상단 5개 보여줘. / 안에 값 넣으면 그 개수만큼 보여준다.

   seq   id   pw
0    1  kim  111
1    2  lee  222

In [ ]:
import pandas as pd #pandas.py
import numpy as np #numpy.py

## 방법 1) python 리스트 [] 에 데이터를 담아서 만들기 -> 구조를 넣었다 뺐다 할 때는 list 가 편하다.

In [10]:

data_list=[ [1,'kim',111],
            [2,'lee',222]
          ]

col_list=['seq','id','pw']

df=pd.DataFrame( data= data_list,
                 columns=col_list)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     2 non-null      int64
 1   id      2 non-null      object
 2   pw      2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes
None

## 방법 2) python np.array(list) 에 데이터를 담아서 만들기

In [ ]:
data_list=[ [1,'kim',111],
            [2,'lee',222]
          ]
data_arr=np.array(data_list)
col_list=['seq','id','pw']

df=pd.DataFrame( data= data_arr,    # ---------------리스트에서 배열로 변경
                 columns=col_list)

print(df.info())

# --> 들어는간다. 하지만 Dtype이 다 object로 바뀜.
# list 는 구조 덩어리를 다뤄서 구조 채로 넣어준다.
# array는 단위단위 요소를 다루는 애라 그냥 다 바꿔서 넣는다.
# 덩어리를 다룰 때는 list, 안에 있는 개별 값을 다룰 때는 array

## 방법 3) 파일(csv, txt,excel, ...) 읽어오기 (csv가 제일 흔하다)

csv: comma seperater valu...es?
df=pd.read_csv(파일 주소, sep, ....) # sep 기본값 ',' ,, 어차피 두 번째 변수라 sep= 안 써도 된다.
                                    # read_csv 하면 DataFrame으로 준다.
                                    ## 주피터 메모리 겁나 먹는다. -> head 조금만 불러와라(안 그러면 주피터 눕는다.)
                                    ## 그냥 바로 생성자 치면 원래는 주소 나와야되는데 전체 데이터 다 불러온다. 하지 마라.

In [21]:
df = pd.read_csv('./book/data/total_sales_data.csv') #sep=','

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     9 non-null      object
 1   제품종류    9 non-null      object
 2   모델명     9 non-null      object
 3   판매      9 non-null      int64
 4   재고      9 non-null      int64
dtypes: int64(2), object(3)
memory usage: 488.0+ bytes

In [31]:
df.head() # 앞에 보여줘

  매장명  제품종류 모델명  판매  재고
0   A  스마트폰  S1   1   2
1   A  스마트폰  S2   2   5
2   A    TV  V1   3   5
3   B  스마트폰  S2   4   6
4   B  스마트폰  S1   5   8

In [35]:
df.tail(3) # 끝부터 보여줘

  매장명  제품종류 모델명  판매  재고
6   C  스마트폰  S2   2   4
7   C    TV  V1   3   6
8   C    TV  V2   7   9

In [44]:
df

  매장명  제품종류 모델명  판매  재고
0   A  스마트폰  S1   1   2
1   A  스마트폰  S2   2   5
2   A    TV  V1   3   5
3   B  스마트폰  S2   4   6
4   B  스마트폰  S1   5   8
5   B    TV  V1   6   9
6   C  스마트폰  S2   2   4
7   C    TV  V1   3   6
8   C    TV  V2   7   9

In [42]:
# iloc: index location(번째 데려와) -> 이름으로도 가능
## array 랑 완전 똑같은 건 아니니까 느낌을 이해해라
df.iloc[ [0,3] , [0,1] ]

  매장명  제품종류
0   A  스마트폰
3   B  스마트폰

In [43]:
arr = np.array([[10, 25, 35],
               [40, 55, 65],
               [70, 80, 90]])
print( arr [ [0,2] ,[0,1] ])

[10 80]