# lec 12. DataFrame

(노션에 있는 거 가져옴. 강사님 주피터 차모)
## - 생성자 = DataFrame(file) 데이터프레임

1. 설치
2. pandas 데이터(파일/DB) 기본 구조
3. X번째(인덱스) 1:4번째(슬라이싱)
4. reshape (1,8)--(8,1)
5. 결측
6. categorical : 사과1 바나나 2
7. 그룹
8. 시각화,시간....

In [9]:
# pandas
import pandas as pd # 99.9999% pd로 alias 준다.
                    # ctrl+pandas클릭하면 __init__열린다.
                    # pickle도 가능하게 해준다.(피클처럼 데이터 함부로 못 건들게 진공포장 시켜준다.) / read stata도 있네 하하
                    # pandas.py (모듈)

# df=pd.DataFrame() # 생성자 만들어줘야됨. DataFrame은 클래스 부모의부모의부모의부모 정도가 넘피
                    # __init__.py가  들어가는 영역이 생긴다.
# 생성자 변수로 주로 들어가는 애들
# data=None,
# index: Axes | None = None,
# columns: Axes | None = None,
# dtype: Dtype | None = None,
# ....


df=pd.DataFrame( data=[ [1,'kim',111],[2,'lee',222]] ,
                 columns=['seq','id','pw']
                 # index= [11 22] 인덱스 어떻게 줄 건지 쓰는 것. 데이터 개수만큼 필요.(많으면 다 부여하기 어려워서 사실 그냥 안 쓴다.) 0번째부터 시작.
                 # dtype= 안 쓰면 기본타입 들어감.
                 )
print(df.info()) # 결과: table의 description 이 나온다.
                # / type의 object는 str타입. int는 혹시 몰라 제일 큰 64로 잡아준다. / 2 entries: 2 개의 row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     2 non-null      int64
 1   id      2 non-null      object
 2   pw      2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes
None

In [10]:
df.head() # 기본값: 상단 5개 보여줘. / 안에 값 넣으면 그 개수만큼 보여준다.

   seq   id   pw
0    1  kim  111
1    2  lee  222

In [11]:
import pandas as pd #pandas.py
import numpy as np #numpy.py

## 방법 1) python 리스트 [] 에 데이터를 담아서 만들기 -> 구조를 넣었다 뺐다 할 때는 list 가 편하다.

In [12]:

data_list=[ [1,'kim',111],
            [2,'lee',222]
          ]

col_list=['seq','id','pw']

df=pd.DataFrame( data= data_list,
                 columns=col_list) # column 이름 안 주면 0,1,2 이렇게 준다.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     2 non-null      int64
 1   id      2 non-null      object
 2   pw      2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 176.0+ bytes
None

## 방법 2) python np.array(list) 에 데이터를 담아서 만들기

In [13]:
data_list=[ [1,'kim',111],
            [2,'lee',222]
          ]
data_arr=np.array(data_list)
col_list=['seq','id','pw']

df=pd.DataFrame( data= data_arr,    # ---------------리스트에서 배열로 변경
                 columns=col_list)

print(df.info())

# --> 들어는간다. 하지만 Dtype이 다 object로 바뀜.
# list 는 구조 덩어리를 다뤄서 구조 채로 넣어준다.
# array는 단위단위 요소를 다루는 애라 그냥 다 바꿔서 넣는다.
# 덩어리를 다룰 때는 list, 안에 있는 개별 값을 다룰 때는 array

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seq     2 non-null      object
 1   id      2 non-null      object
 2   pw      2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes
None

## 방법 3) python dict{k:v} 에 데이터를 담아서 만들기

In [14]:
# cf. series의 경우
s5 = pd.Series({'국어': 100, '영어': 95, '수학': 90}) # dict를 넣는 경우 key값이 index가되고 value가 value가 된다.
s5

국어    100
영어     95
수학     90
dtype: int64

In [15]:
list_dict=[{'국어': 100, '영어': 90, '수학': 80},
       {'국어': 50, '영어': 55, '수학': 57},
       {'국어': 20, '영어': 22, '수학': 27}]
df=pd.DataFrame(list_dict) # 타입 변환 없이 유지!!
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국어      3 non-null      int64
 1   영어      3 non-null      int64
 2   수학      3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes
None

    국어  영어  수학
0  100  90  80
1   50  55  57
2   20  22  27

In [16]:
# 이게 더 편리
dicts = {'국어': [100,50,20],
              '영어': [90,55,22],
              '수학': [ 80, 57,27]}
df=pd.DataFrame(dicts) # 중간에 F대소문자 주의
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국어      3 non-null      int64
 1   영어      3 non-null      int64
 2   수학      3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes
None

    국어  영어  수학
0  100  90  80
1   50  55  57
2   20  22  27

In [17]:
# 이거 아님에 유의!!!!
lists=[{'국어': [100,50,20], '영어': [90,55,22], '수학':[ 80, 57,27]}]
pd.DataFrame(lists) ## 변수에 담아줘야됨.

              국어            영어            수학
0  [100, 50, 20]  [90, 55, 22]  [80, 57, 27]

## 방법 4) 파일(csv, txt,excel, ...) 읽어오기 (csv가 제일 흔하다)

csv: comma seperater valu...es?
df=pd.read_csv(파일 주소, sep, ....) # sep 기본값 ',' ,, 어차피 두 번째 변수라 sep= 안 써도 된다.
                                    # read_csv 하면 DataFrame으로 준다.
                                    ## 주피터 메모리 겁나 먹는다. -> head 조금만 불러와라(안 그러면 주피터 눕는다.)
                                    ## 그냥 바로 생성자 치면 원래는 주소 나와야되는데 전체 데이터 다 불러온다. 하지 마라.

In [18]:
df = pd.read_csv('./book/data/total_sales_data.csv') #sep=',' 중요한 건 확장자가 아니라 구분자! .csv아니고 .txt로 해도 sep만 제대로 쓰면 무방.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매장명     9 non-null      object
 1   제품종류    9 non-null      object
 2   모델명     9 non-null      object
 3   판매      9 non-null      int64
 4   재고      9 non-null      int64
dtypes: int64(2), object(3)
memory usage: 488.0+ bytes

In [20]:
df.head() # 앞에 보여줘

  매장명  제품종류 모델명  판매  재고
0   A  스마트폰  S1   1   2
1   A  스마트폰  S2   2   5
2   A    TV  V1   3   5
3   B  스마트폰  S2   4   6
4   B  스마트폰  S1   5   8

In [21]:
df.tail(3) # 끝부터 보여줘

  매장명  제품종류 모델명  판매  재고
6   C  스마트폰  S2   2   4
7   C    TV  V1   3   6
8   C    TV  V2   7   9

In [22]:
df

  매장명  제품종류 모델명  판매  재고
0   A  스마트폰  S1   1   2
1   A  스마트폰  S2   2   5
2   A    TV  V1   3   5
3   B  스마트폰  S2   4   6
4   B  스마트폰  S1   5   8
5   B    TV  V1   6   9
6   C  스마트폰  S2   2   4
7   C    TV  V1   3   6
8   C    TV  V2   7   9

In [23]:
# iloc: index location(번째 데려와) -> 이름으로도 가능
## array 랑 완전 똑같은 건 아니니까 느낌을 이해해라
df.iloc[ [0,3] , [0,1] ]

  매장명  제품종류
0   A  스마트폰
3   B  스마트폰

In [24]:
arr = np.array([[10, 25, 35],
               [40, 55, 65],
               [70, 80, 90]])
print( arr [ [0,2] ,[0,1] ])

[10 80]

In [25]:
# res=a[a>3] (array 에서 처럼 이런 문법 사용 가능하다)

#데이터프레임 항목을 조건에 따라 출력

# df[df.재고==6] 이것도 가능 / ' ' 또는 " " 안 달아도 됨.(dataframe 쫓아 가서!느낌이라)
df[df['재고']==6] # 복잡해도 이 문법 추천---!! // ' ' 또는 " " 달아야 됨.(안 쓰면 변수로 생각)
# df['재고']==6 -> True False로 나온다.
df[['재고','판매']] # 리스트 이용해서 떼거지로 가져오는 게 가능하기 때문

# df. 이런 문법 쓰면 여러 개 가져오기 어려움.(보통 여러개 갖고오니까)
# df.[재고, 판매] #-- ERROR!
# df[df.재고==6 and df.판매==4] #-- ERROR!

   재고  판매
0   2   1
1   5   2
2   5   3
3   6   4
4   8   5
5   9   6
6   4   2
7   6   3
8   9   7

In [26]:
# 컬럼 번째로 하고 싶으면
df.iloc[ : , [3,4]]
df.iloc[ : , [3,4]].head(2)
# 컬럼 이름으로 하고 싶으면
df[['판매','재고']]

   판매  재고
0   1   2
1   2   5
2   3   5
3   4   6
4   5   8
5   6   9
6   2   4
7   3   6
8   7   9

## 11.2 구조적 데이터 표시와 처리에 강한 pandas

### 구조적 데이터 생성하기

#### Series를 활용한 데이터 생성
컬럼이 하나  
1 row인 array를 reshape 해서 세로로 세우면 시리즈  
series가 가로로 여러개 붙어있으면 데이터프레임  
-> 데이터는 언제나 리스트나 어레이로 올 것임. 이걸 reshape으로 세로로 세워서 끼워넣어야 하는 경우가 많다.!!!

**[11장: 237페이지]**

In [27]:
import pandas as pd

**[11장: 238페이지]**

In [28]:
# 리스트를 세로로 세우는 방법
arr=np.array([10,20,30,40])
#arr.shape
res=arr.reshape(-1,1) # array
print(res, res.shape, type(res))

lists=[10,20,30,40]
res=pd.Series(lists) # Series 됨.
print(res, res.shape, type(res)) # shape (4, )  <- array에서 한 줄도 (4,)였던 거 기억.

[[10]
 [20]
 [30]
 [40]] (4, 1) <class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
dtype: int64 (4,) <class 'pandas.core.series.Series'>

In [29]:
s1 = pd.Series([10, 20, 30, 40, 50]) #리스트를 세로줄로 세움.
s1

s2 = pd.Series(np.array([10, 20, 30, 40, 50])) #어레이를 세로줄로 세움.
s2

0    10
1    20
2    30
3    40
4    50
dtype: int32

**[11장: 238페이지]**

In [30]:
s1.index
print(s1.index) # range로 뽑힌다.

RangeIndex(start=0, stop=5, step=1)

**[11장: 239페이지]**

In [31]:
s1.values # 값들 보여줘. (array로 보여준다. -> 값 핸들링하라고)

array([10, 20, 30, 40, 50], dtype=int64)

**[11장: 239페이지]**

In [32]:
s2 = pd.Series(['a', 'b', 'c', 1, 2, 3]) ## 이 경우 1,2,3은 dtype object(글자)
s2

0    a
1    b
2    c
3    1
4    2
5    3
dtype: object

### <font color='red'><b> 처음에는 int 타입인 데이터가 갑자기?? float 타입이 된다???</b></font>
* 데이터 안에 NaN이 있다.
* 몇 천 만 건 데이터 중에 NaN이 하나라도 있으면 학습 안 한다.

In [33]:
import numpy as np
# None np.nan (NaN은 오라클로 치면 null)
s3 = pd.Series([np.nan,10,30]) ## NaN 들어있으면 dtype이 float64가 된다.
s3

0     NaN
1    10.0
2    30.0
dtype: float64

In [34]:
index_date = ['2018-10-07','2018-10-08','2018-10-09','2018-10-10']
s4 = pd.Series([200, 195, np.nan, 205], index = index_date) ### dataframe 만들 때 columns= 썼던 거랑 원리 비슷. dataframe에서도  index= 지정 가능.
s4

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

In [35]:
## dict로도 Series 만들 수 있다.
s5 = pd.Series({'국어': 100, '영어': 95, '수학': 90}) # dict를 넣는 경우 key값이 index가되고 value가 value가 된다.
s5

국어    100
영어     95
수학     90
dtype: int64

#### 날짜 자동 생성: date_range
range  
arange  
indexrange  
daterange ...

In [36]:
import pandas as pd

pd.date_range(start='2019-01-01',end='2019-01-07') # type도 datetype. 기본은 날자 단위. freq='W'는 주 단위, 'Y'는 연 단위.

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [37]:
pd.date_range(start='2019/01/01',end='2019.01.07')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start='01-01-2019',end='01/07/2019')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start='2019-01-01',end='01.07.2019')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(start='2019-01-01', periods = 7) ## period: 며칠 후

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='2019-01-01', periods = 4, freq = '2D') ## 이틀 간격

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07'], dtype='datetime64[ns]', freq='2D')

**[11장: 244페이지]**

In [42]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'W')

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

**[11장: 244페이지]**

In [43]:
pd.date_range(start='2019-01-01', periods = 12, freq = '2BM') #2개월 간격. B는 확인 필요할듯/??????

DatetimeIndex(['2019-01-31', '2019-03-29', '2019-05-31', '2019-07-31',
               '2019-09-30', '2019-11-29', '2020-01-31', '2020-03-31',
               '2020-05-29', '2020-07-31', '2020-09-30', '2020-11-30'],
              dtype='datetime64[ns]', freq='2BM')

In [44]:
pd.date_range(start='2019-01-01', periods = 4, freq = 'QS')

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [45]:
pd.date_range(start='2019-01-01', periods = 3, freq = 'AS')

DatetimeIndex(['2019-01-01', '2020-01-01', '2021-01-01'], dtype='datetime64[ns]', freq='AS-JAN')

In [46]:
pd.date_range(start = '2019-01-01 08:00', periods = 10, freq='H')

DatetimeIndex(['2019-01-01 08:00:00', '2019-01-01 09:00:00',
               '2019-01-01 10:00:00', '2019-01-01 11:00:00',
               '2019-01-01 12:00:00', '2019-01-01 13:00:00',
               '2019-01-01 14:00:00', '2019-01-01 15:00:00',
               '2019-01-01 16:00:00', '2019-01-01 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [47]:
pd.date_range(start = '2019-01-01 08:00', periods = 10, freq='BH')

DatetimeIndex(['2019-01-01 09:00:00', '2019-01-01 10:00:00',
               '2019-01-01 11:00:00', '2019-01-01 12:00:00',
               '2019-01-01 13:00:00', '2019-01-01 14:00:00',
               '2019-01-01 15:00:00', '2019-01-01 16:00:00',
               '2019-01-02 09:00:00', '2019-01-02 10:00:00'],
              dtype='datetime64[ns]', freq='BH')

In [48]:
pd.date_range(start = '2019-01-01 10:00', periods = 4, freq='30min')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 10:30:00',
               '2019-01-01 11:00:00', '2019-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [49]:
pd.date_range(start = '2019-01-01 10:00', periods = 4, freq='30T')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 10:30:00',
               '2019-01-01 11:00:00', '2019-01-01 11:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [50]:
pd.date_range(start = '2019-01-01 10:00:00', periods = 4, freq='10S')

DatetimeIndex(['2019-01-01 10:00:00', '2019-01-01 10:00:10',
               '2019-01-01 10:00:20', '2019-01-01 10:00:30'],
              dtype='datetime64[ns]', freq='10S')

In [51]:
index_date = pd.date_range(start = '2019-03-01', periods = 5, freq='D')
pd.Series([51, 62, 55, 49, 58], index = index_date )

2019-03-01    51
2019-03-02    62
2019-03-03    55
2019-03-04    49
2019-03-05    58
Freq: D, dtype: int64

#### 다시 데이터프레임 파트!!!!(위에랑 같이 참고)

In [52]:
import pandas as pd

pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]]
            #, columns = ['a','b','c']
            #, index=[10,20,30]) # index 하면 알아보기 어려울 뿐
            )

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

array로도 가능(근데 list 추천)

In [53]:
import numpy as np
import pandas as pd

data_list = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
pd.DataFrame(data_list)

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [54]:
#배운 거 총동원!

import numpy as np
import pandas as pd

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8 ,9], [10, 11, 12]])
index_date = pd.date_range('2019-09-01', periods=4)
columns_list = ['A', 'B', 'C']
pd.DataFrame(data, index=index_date, columns=columns_list)

             A   B   C
2019-09-01   1   2   3
2019-09-02   4   5   6
2019-09-03   7   8   9
2019-09-04  10  11  12

In [55]:
table_data = {'연도': [2015, 2016, 2016, 2017, 2017],
              '지사': ['한국', '한국', '미국', '한국','미국'],
              '고객 수': [200, 250, 450, 300, 500]}
table_data

{'연도': [2015, 2016, 2016, 2017, 2017],
 '지사': ['한국', '한국', '미국', '한국', '미국'],
 '고객 수': [200, 250, 450, 300, 500]}

**[11장: 249페이지]**

In [56]:
pd.DataFrame(table_data)

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [57]:
# df = pd.DataFrame(table_data, columns=['연도', '지사', '고객 수']) # 이름 바꾸는 거?? 이제는 안 먹는다!!!!
# df.info()

df.columns=['kor','eng','math'] # ------------------컬럼 이름 변경
df.info()

ValueError: Length mismatch: Expected axis has 5 elements, new values have 3 elements

**[11장: 251페이지]**

### Series와 DataFrame
s.index, s.values  
df.index, df.values, df.columns  

-> index 빼고는 다 s 붙는다.

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values #dtype이 object인 이유는 array로 넣었기 때문.

### 데이터 연산

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([10, 20, 30, 40, 50])
s1 + s2 # concat이 아닌 더하기 개념

In [ ]:
s2 - s1 # 값에 대한 가감산 가능

In [ ]:
s1 * s2

In [ ]:
s2 / s1

**[11장: 252 ~ 253페이지]**

In [ ]:
s3 = pd.Series([1, 2, 3, 4])
s4 = pd.Series([10, 20, 30, 40, 50])
s3 + s4 # 서로 길이 다르면 초과분만큼 NaN 된다.

In [ ]:
s4 - s3

In [ ]:
s3 * s4

In [ ]:
s4/s3

In [ ]:
# ====================================여기서부터==================================

**[11장: 253 ~ 254페이지]**

In [ ]:
table_data1 = {'A': [1, 2, 3, 4, 5],
              'B': [10, 20, 30, 40, 50],
              'C': [100, 200, 300, 400, 500]}
df1 = pd.DataFrame(table_data1)
df1

In [ ]:
table_data2 = {'A': [6, 7, 8],
              'B': [60, 70, 80],
              'C': [600, 700, 800]}
df2 = pd.DataFrame(table_data2)
df2

**[11장: 254페이지]**

In [ ]:
df1 + df2 # 값 간의 덧셈이지 세로로 이어주는 게 아니다.
            # 결측이 포함돼서 dtype은 저절로 float으로 바뀐다.

**[11장: 255페이지]**

In [ ]:
table_data3 = {'봄':  [256.5, 264.3, 215.9, 223.2, 312.8],
              '여름': [770.6, 567.5, 599.8, 387.1, 446.2],
              '가을': [363.5, 231.2, 293.1, 247.7, 381.6],
              '겨울': [139.3, 59.9, 76.9, 109.1, 108.1]}
columns_list = ['봄', '여름', '가을', '겨울'] # 없어도 됨.
index_list = ['2012', '2013', '2014', '2015', '2016']

df3 = pd.DataFrame(table_data3, columns = columns_list, index = index_list)
df3

**[11장: 256페이지]**

In [ ]:
# 오라클로 하면 어떻게 나오는지, 어떻게 해야되는지 생각(강사님 코드 참고)
df3.mean() # 각 column 별로 평균

In [ ]:
df3.std()

**[11장: 256 ~ 257페이지]**

In [ ]:
df3.mean(axis=1) # axis : 축. 1이면 세로 별로!(연도별) 0이면 가로 별로!(계절별)

In [ ]:
df3.std(axis=1)

**[11장: 257페이지]**

In [ ]:
df3.describe()           # 값 데이터의 구조
# 25% 까지의 평균값, 50% 까지의 평균값
# 오라클도 describe 존재( 줄여서 desc로 많이 썼다. -> 표의 구조)

### 데이터를 원하는 대로 선택하기

**[11장: 258페이지]**

In [ ]:
import pandas as pd
import numpy as np

KTX_data = {'경부선 KTX': [39060, 39896, 42005, 43621, 41702, 41266, 32427],
            '호남선 KTX': [7313, 6967, 6873, 6626, 8675, 10622, 9228],
            '경전선 KTX': [3627, 4168, 4088, 4424, 4606, 4984, 5570],
            '전라선 KTX': [309, 1771, 1954, 2244, 3146, 3945, 5766],
            '동해선 KTX': [np.nan,np.nan, np.nan, np.nan, 2395, 3786, 6667]}
col_list = ['경부선 KTX','호남선 KTX','경전선 KTX','전라선 KTX','동해선 KTX']
index_list = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']

df_KTX = pd.DataFrame(KTX_data, columns = col_list, index = index_list)
df_KTX

In [ ]:
df_KTX.index

In [ ]:
df_KTX.columns

In [ ]:
df_KTX.values

In [ ]:
df_KTX.head()

In [ ]:
df_KTX.tail()

In [ ]:
df_KTX.head(3)

In [ ]:
df_KTX.tail(2)

In [ ]:
df_KTX[1:2] #인덱스 기준 줄.

In [ ]:
df_KTX[2:5] # [줄,칸]인데 , 뒤가 없으니 줄 기준만 하고 칸은 다 뽑겠다

**[11장: 262페이지]**

In [ ]:
df_KTX.loc['2011'] # iloc은 인덱스 location, 그냥 location은 값
# 안 붙이면 번째

In [ ]:

###########강사님
df=pd.DataFrame( data=[ [1,'kim',111],[2,'lee',222]] ,
                 columns=['seq','id','pw'],
                 index= ['aa','bb'] # 인덱스 어떻게 줄 건지 쓰는 것. 데이터 개수만큼 필요.(많으면 다 부여하기 어려워서 사실 그냥 안 쓴다.) 0번째부터 시작.
                                     # dtype= 안 쓰면 기본타입 들어감.
                 )
print(df.info()) # 결과: table의 description 이 나온다.
                # / type의 object는 str타입. int는 혹시 몰라 제일 큰 64로 잡아준다. / 2 entries: 2 개의 row
 
#df
#df.loc['aa'] #-- 김씨
#df.iloc[0] #-- 김씨
#df[0:1] #--0번째 줄

**[11장: 262페이지]**

In [ ]:
df_KTX.loc['2013':'2016'] # 값으로 하는 경우 이상미만이 아닌 포함임에 유의

**[11장: 263페이지]**

In [ ]:
df_KTX['경부선 KTX'] # 칸 기준으로! 슬라이싱이랑 헷갈린다 주의

**[11장: 263페이지]**

In [ ]:
#### **************주의!!!!!! 예외조항

df_KTX['경부선 KTX']['2012':'2014'] # 경부선 KTX 꺼내줘. 인덱스는 2012~2014
########## 뒷부분 별도. 슬라이싱이랑 다름
# 슬라이싱이었으면 [줄,칸]
# 값이라 예외조항 밑에 슬라이싱과 구분

In [ ]:
df_KTX['경부선 KTX'][2:5] # 이게  슬라이싱 iloc 느낌

In [ ]:
df_KTX.loc['2016']['호남선 KTX']

In [ ]:
df_KTX.loc['2016','호남선 KTX'] ### 비추

In [ ]:
df_KTX['호남선 KTX']['2016'] #값의 개념

# df_KTX.loc['호남선 KTX']['2016'] 이건 에러!!!!

In [ ]:
df_KTX['호남선 KTX'][5] # iloc의 개념

In [ ]:
df_KTX['호남선 KTX'].loc['2016'] #### 비추!!!!!!!!!!

**[11장: 265페이지]**

In [ ]:
df_KTX.T  ## 전위(transpose) / array.transpose와 유사.

**[11장: 265페이지]**


df_KTX ### 비추비추!!! 주피터 메모리 작은데 데이터 많으면 누워버린다
.head .tail 써라

**[11장: 266페이지]**

In [ ]:
#여러 개 가져오려면 묶어라

df_KTX[['동해선 KTX', '전라선 KTX', '경전선 KTX', '호남선 KTX', '경부선 KTX']]

In [ ]:
#헷갈...
df_KTX[['경부선 KTX','호남선 KTX','경전선 KTX']][0:2] # 칸 줄
df_KTX[0:2][['경부선 KTX','호남선 KTX','경전선 KTX']] # 줄 칸

# array 에서는 아래 됐는데 이건 에러!!!
# df_KTX[  0:2 , ['동해선 KTX', '전라선 KTX', '경전선 KTX']  ] 

# 값으로 슬라이싱 하면 미만 아니다
df_KTX.loc('2011':'2012', ['경부선 KTX','호남선 KTX','경전선 KTX']

In [ ]:
#### 아래 부분 데이터 불러오기 4. 밑에 넣기

# 데이터 핸들링

In [ ]:
df=pd.read_csv("./lec12_sample.txt", sep='\t')
df.info

In [ ]:
df.head

In [ ]:
arr = np.array([ [1,11,111,1111], 
                [2,22,222,2222], 
                [3,33,333,3333],
                [4,44,444,4444],
                [5,55,555,5555]
               ])
print(arr)

In [ ]:
# 데이터프레임과 어레이를 합쳐보자~~
df[0] # array와 달리 이런 문법은 없다.
df[   ,  ]

In [ ]:
df.shape, arr.shape

* 줄만 핸들링
* 슬라이싱 : arr[s:e]가능     ///  df[s:e] 가능
* 번째 : arr[2] 가능          /// df[2] 에러
* [번째] : arr[ [1,2] ] 가능 // df[ [1,2] ] 에러

In [ ]:
# array는 무조건 줄,칸
arr [0]

In [ ]:
#df [0] #------------Error! 줄 지목 불가

In [ ]:
arr[0:3] # 0,1,2번째 줄

In [ ]:
df[0:3] # 0,1,2번째 줄/// 줄 슬라이싱은 가능!

In [ ]:
arr[[0,1,2]]

In [ ]:
# df[[0,1,2]] #------------Error! 줄 떼거지 지목 불가

--> 데이터프레임에서 줄만 지목하든, 줄 여러 개 지목하든 줄 지목은 불가능하다.

* 줄, 칸 핸들링 : arr [ 줄, 칸],  df [ 줄, 칸]  
번째 : arr[0,1], df[2,1]

* df 의 경우 슬라이싱은 줄만 가능(별도 함수 안 쓰면), 지목은 column만 가능

In [ ]:
arr[0,1] # 0번째 줄 첫번째 칼

In [ ]:
# df [2,1] #------------Error! 줄 지목 불가

In [ ]:
# df[2:3, 1] #------------Error! 줄 지목 불가
# DataFrame에서는 df[ 하면 column을 찾는다(key 어쩌고저쩌고 함.)

In [ ]:
# df['col0':'col3'] # Error! 첫 꺽쇠 슬라이싱은 줄만 가능
# TypeError: cannot do slice indexing on RangeIndex with these indexers [col0] of type str

In [ ]:
df['col1'] # colomn으로 가져오는 건 가능

df[['col1','col2']] # colomn 떼거지도 가능 ---- 99%!!!

* loc, iloc ----99.9% 이걸로 제어

In [ ]:
# array 의 경우
arr[0,0]
arr[0:1,0:2]
arr[ [0,1,2] , [1,2,3]]

In [ ]:
# 번째로 지목하고 싶은 경우 iloc
df[0:2] # 사실 좀 낯선 문법 까먹어라~

In [ ]:
df.iloc[0:2] #----------99% iloc은 index location(번째번째)

In [ ]:
# 잠시 인덱스 이름 바꿔보자
df.index=['a0','a1','a2','a3','a4']
df.head()

In [ ]:
# 이 부분은 array랑 같다.
# df[0:2]
df.iloc[0] ## 이거는 series로 나온다.
df.iloc[0:2]
df.iloc[[0,1,2]]

In [ ]:
# loc은 인덱스가 됐든 컬럼이 됐든 key값 가져와라
df.loc['a0'] # 대소문자 중요  # 0번재 줄 ------Series
df.loc['a0':'a2']             # 0,1번째 줄
df.loc[['a0','a1','a2']]      # 0,1번째 줄

* 1줄 기준 칸(컬럼)제어

In [ ]:
# iloc이면 줄이든 칸이든 다 가능/ 단일지목 지목 슬라이싱
df.iloc[1, 1] # iloc으로 첫번째 줄 지정 후 몇 번째 컬럼인지 고름
df.iloc[1,1:4]
df.iloc[1,[1,2]]
df.iloc[:,2]

In [ ]:
# iloc이면 줄이든 칸이든 번째로 지목
# 단일지목 지목 슬라이싱 다 가능!!
df.iloc[1:3, 1]
df.iloc[1,1:3]
df.iloc[[1,2,3],[1,2]]

In [ ]:
# loc은 인덱스가 됐든 컬럼이 됐든 key값 가져와라
# 단일지목 지목 슬라이싱 다 가능
df.loc['a1','col1'] # 대소문자 중요  # 0번재 줄 ------Series
df.loc['a1',['col1','col2']]             # 0,1번째 줄
df.loc['a1', 'col1':'col3']      # 0,1번째 줄
df.loc[['a1','a2'], 'col1':'col3']

### iloc이면 번째로 가져오고, loc이면 값으로 갖고와야 되는 것만 주의!!  
iloc 쓰면 column 많아지면 코드 가독성 떨어진다(루프 돌리는 거면 몰라도) -> loc을 더 많이 씀  
슬라이싱 할 때 : iloc은 이상, 미만. loc은 얘네 다 가져와

* 아래는 잊으세요....... / 자주 안 쓰는 문법
* 책에서 안내하는 데이터프레임 문법 보지 말고 위에서 알려준 loc, iloc 정규문법 써라

In [ ]:
# 둘 다 가능(순서 상관 없다)
df[0:2][['col1','col2']] 
df[['col1','col2']][0:2]
# 근데 컬럼은 슬라이싱은 안 됨. 인덱스는 나열은 안 됨.

### <font color='red'>!!!!df[ ] 쓸 때는 안에 컬럼이나 조건 쓰는 걸로 약속하자!!!!!!!!!!!! </font>

내일은 emp dept로 데이터 가져오는 거 하고
조건 설정해보자~~