In [6]:
#bb 출력
quiz =  {
  "error": 
      #----------------------------
      { 
        "code": 400,
        "message": "API key not valid. Please pass a valid API key.",
        "errors": [
                      {
                        "message": "11.",
                        "domain": "22",
                        "reason": "33"
                      },
		      {
                        "message": "aa",
                        "domain": "bb",
                        "reason": "cc"
                      }
                 ]
        }
      }

print(quiz["error"]["errors"][1]['domain'])

bb

리스트 합치기

In [ ]:
list_con1= [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2 # 리스트 연결

print(list_con)

In [ ]:
list_con1= [1,2,3,4]
list_con = list_con1 * 3 # 리스트 반복

print(list_con)

In [9]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2]) # 2개씩 건너뛰어달라

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[1, 3]

In [ ]:
print(list_data)
del list_data[6] # 지우기
print(list_data)

In [ ]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1) # in 있나요?

In [10]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas') # append 가능
print(myFriends)
# 대입연산으로도 가능할까? -> 새로운 자리에 붙여넣는 건 안 된다.
# list assignment index out of range
myFriends[5]=('Cherry') # ERROR. 없는 번째는 지목 못 한다.

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

IndexError: list assignment index out of range

In [15]:
# insert를 이용해 중간에 끼워넣기.
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')
# 강사님: 이게 더 편하다. myfriends[1]='Paul' 
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Lisa', 'Mary']

**질문: 근데 insert랑 강사님이 알려준 거랑은 결과가 다르지 않나**

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

myFriends + ['Laura', 'Betty'] #강사님: 이렇게 해도 된다.

**질문: 근데 이렇게 하면 myFriends에 반영 안 되지 않나.**

### 튜플 만들기
튜플: 리스트의 상수. 한 번 세팅하면 값 변경 불가

In [19]:
tuple1=(1,2,3,4)
# tuple1[1]=5 Error!!
# del tuple[1] ERROR!!

### 세트

In [ ]:
A = {1, 2, 3, 4, 5}         # Set A
B = {4, 5, 6, 7, 8, 9, 10}  # Set B
A.intersection(B)  # 집합 A에 대한 집합 B의 교집합(A∩B)

In [ ]:
A.union(B) # 집합 A에 대한 집합 B의 합집합(A∪B)

In [ ]:
A.difference(B) # 집합 A에 대한 집합 B의 차집합(A-B)

In [ ]:
A = {1, 2, 3, 4, 5}         # Set A
B = {4, 5, 6, 7, 8, 9, 10}  # Set B
A & B  # 집합 A에 대한 집합 B의 교집합(A∩B)

In [ ]:
A | B  # 집합 A에 대한 집합 B의 합집합(A∪B)

In [ ]:
A - B  # 집합 A에 대한 집합 B의 차집합(A-B)

### 캐스팅

In [ ]:
a = [1,2,3,4,5]

In [ ]:
type(a)

In [ ]:
b = tuple(a)
b

In [ ]:
type(b)

In [ ]:
c = set(a)
c

In [ ]:
type(c)

In [ ]:
list(b)

In [ ]:
list(c)

In [21]:
int("1")+1 #int로 형변환

2

In [23]:
str(1)+"번" # str로 형변환

'1번'

In [ ]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스": "베른", "호주":"멜버른", "덴마크": "코펜하겐"}
country_capital

In [ ]:
country_capital["독일"]= "베를린" #변수명[추가하려는 키]="값"
country_capital

In [ ]:
del country_capital["덴마크"]
country_capital

In [25]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [26]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [28]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [29]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [31]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [32]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [33]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

# 5장 제어문

In [34]:
x=95
if x>=90:
     print("Pass") ## 들여쓰기 안 하면 에러 난다.
                    ## 다른 프로그래밍 언어는 {} 이런 블럭 존재.
                    ##파이썬은 블럭이 없다. 들여쓰기로 구분..
# if 조건[AND ...] : 
#    실행해라

Pass

In [35]:
x = 75
if x >= 90:
    print("Pass")
else:
    print("Fail")

Fail

In [36]:
x = 85
if x >= 90:
    print("Very good")
elif  (x >= 80) and (x < 90): #다른언어는 esle if쓴다.
    print("Good")
else:
    print("Bad")

Good

In [37]:
x = 85
if x >= 90:
    print("Very Good")
elif  80 <= x < 90:     # 다른 랭기지는 이거 하면 에러난다.
                        # 통용되는 위의 문법 써라.
    print("Good")
else:
    print("Bad")   #여러 조건을 다 만족하면 위에 것만.

Good

In [ ]:
x = 100
if x >= 90:
    if x==100 :
        print("Perfect")
    else:
        print("Very Good")
elif (x >= 80) and (x < 90):
    print("Good")
else:
    print("Bad")

#### 문제
score = 85
90~100 A
80~90 B
       C

In [46]:
score = 95
if (score >=90) and (score<=100) :
    if (score >=97) :
        print("A+")
    elif (score >=94) and (score <=96) :
        print("A0")
    elif (score <=93):                    #else 써도 되겠다
        print("A-")
elif (score >=80) and (score<=90) :
    print("B")
else :
    print("C")

A0

### 반복문
세상에 있는 랭기지에 존재하는 반복문들
* for
* while
* do while -> 파이썬에는 없다.

for문: 특정한 범위를 지정할 수 있을 때.(몇 번 해주세요.)
while문: 범위 알 수 없을 때(나올 때까지 해주세요)

In [53]:
# 5 in [1,2,3,4,5,] # 파이썬은 뒤에 ,해놓고 더 안 줘도 에러 안 낸다.
#      이것들
#  중에
#이거

# in 이걸 앞부터 순차적으로 하는 게 for
for n in [1,2,3,4,5]:
    print(n)

1
2
3
4
5

In [66]:
# range(starting, ending, increment). 단 s는 이상 e은 미만(이하 아님!)
# increment 안 적으면 한 개 씩 증가.
print(range(1,6,1)) #이렇게 하면 출력 좀 이상하게 나옴.
print(len(range(1,6,1))) # len 길이 출력.
print(list(range(1, 6, 1))) #list로 변환

print(list(range(0, 10, 1)))
print(list(range(0, 10))) # 증가분 안 쓰면 1씩 증가.
print(list(range(10)))   # 스타트 안 주면 0

range(1, 6)
5
[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
a=0
sum=0
for n in range(1,7,1):
    a= a+1
    sum=sum+n
    print(a)           #print를 탭 넣고 치면 같이 loop.
                        # 탭 없이 치면 최종 결과만 print.
print(sum)              # 1부터 6까지 합은 21.

1
2
3
4
5
6
21

In [2]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']  # 리스트를 변수에 할당
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

### 중첩 for 문

In [3]:
# 시침 분침처럼 생각하면 이해가 용이할듯(내생각)
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

구구단을 외자 구구단을 외자

In [89]:
# x=2
# y=1
# for x in range(2,10):
#     for y in range(1,10):
#         print(x,"*",y,"=",x*y)
#         y+1
#     x+1
    
    # print 그냥 치면 기본값으로 ,end="\n" 이렇게 들어가있다.
    # 엔터 대신 띄어지게 하고 싶으면 ,end="\t" 쓰면 된다.
    # end="," 하면 ,로 연결됨

x=2 #사실 값 어느거든 상관 없다. range에 먹힐 거라.
y=1 #얘도 초기값 어떻게 설정하든 상관 없다.
for x in range(2,10):
    for y in range(1,10):
        print(x,"*",y,"=",x*y,end="\t") #탭
        y+1
    print("") #단마다 줄바꿈
    x+1

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [ ]:
names = ['James', 'Robert', 'Lisa', 'Mary'] 
scores = [95, 96, 97, 94]

In [ ]:
for k in range(len(names)):
    print(names[k], scores[k])

### for+list

In [97]:
num_list=[1,2,3,4,5]
for n in num_list:
    print(n)

1
2
3
4
5

In [99]:
num_list=["a","b","c","d","e"]
for n in num_list:         # 리스트 항목으로 돌고 몇 번째인지 안 나온다.
    print(n)

a
b
c
d
e

In [100]:
# 몇 번째인지 알고 싶다면 (1): enumerate 이용
num_list=["a","b","c","d","e"]
for i, n in enumerate(num_list):           #enumerate. 리스트 돌 때마다 몇 번째인지 카운팅
    print(i, n, num_list[i])

0 a a
1 b b
2 c c
3 d d
4 e e

In [101]:
# 몇 번째인지 알고 싶다면 (2): range 이용
num_list=["a","b","c","d","e"]
for i in range(0,4):     # 0 1 2 3번째요
    print(i, num_list[i])

0 a
1 b
2 c
3 d